.UpDownButtons {
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translate(-12px, -12px);
    background: rgba(0, 0, 0, 0.2);
}

.UpDownButtons-b {
    padding: 0 !important;
    width: 24px !important;
    height: 20px !important;
}