.WorldMapContainer-paper {
    max-width: 800px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.markers circle {
    cursor: pointer;
}

.markers circle:hover {
    fill: #20BF55;
}