.WorldMapContainer-paper {
    max-width: 800px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.markers circle {
    cursor: pointer;
}

.markers circle:hover {
    fill: #20BF55;
}
